[submodule "FlashMemory"]
	path = FlashMemory
	url = git@github.com:brandonbraun653/FlashMemory.git
[submodule "lib/BusPirateCPP"]
	path = lib/BusPirateCPP
	url = git@github.com:brandonbraun653/BusPirateCPP.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = git@github.com:brandonbraun653/Chimera.git
[submodule "lib/Thor"]
	path = lib/Thor
	url = https://github.com/brandonbraun653/Thor.git
[submodule "lib/Aurora"]
	path = lib/Aurora
	url = https://github.com/brandonbraun653/Aurora.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
